<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byType">

	<bean id="lubanService" class="com.luban.service.LubanService"/>

	<bean id="zl" class="com.luban.service.ZlService">
	</bean>

	<bean id="zlService" class="com.luban.service.ZlService1">
	</bean>
	<!-- more bean definitions go here -->

</beans>